html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Fira Sans', 'DejaVu Sans', 'DroidSans', 'FreeSans', 'Open Sans', 'Arial', sans-serif;
}

body {
  background: none;
}

section[role="region"] {
  height: 100%;
  line-height: 1em;
  font-size: 2.2rem;
}

div[role="main"] {
  background: #fff;
  height: calc(100% - 5rem);
  overflow: hidden;
}

div[role="main"] > *:first-child {
  overflow: auto;
  height: 100%;
}

#channel-list > *:last-child {
  margin-bottom: 40px;
}

div[role="toolbar"] .text {
  color: #efefef;
  line-height: 40px;
  padding-right: 5px;
}

.hidden {
  display: none;
}

#about-view {
  font-size: 1.5rem;
}

#about-view p {
  margin: 15px 19px 15px 19px;
}
